// $primary-color: #2a2480;
// $secondary-color: #7484a9;
// $header-color: #ea6576;
// $body-color: white;
// $hover-color: #333;
// $dark-primary: #999;
// $dark-secondary: gray;

// #01257D 4A8BDF

$primary-color: #4a8bdf;
$list-color: #01257d;
$header-color: #daa520;
$nav-color: #ffffff;
$body-color: #ffffff;
$home-color: #f1f5f9;

$dark-font-color: #c9c9c9;
$dark-box-shadow: #2e2e2e;
$dark-secondary: #212121;
$hover-color: #2e2e2e;
