@import "vars";
.app.dark {
  background-color: #212529;
  color: rgb(156, 156, 156);

  .register,
  .login {
    .navBar {
      background: $dark-secondary;
      .list {
        .item {
          color: $header-color;
          &:hover {
            background-color: $hover-color;
          }
        }
      }
    }
    .registerContainer,
    .loginContainer {
      background: $dark-secondary;
      box-shadow: 2px 4px 10px 1px $dark-box-shadow;
      .title {
        color: $header-color;
      }
      form {
        input {
          background-color: $dark-secondary;
          color: $dark-font-color;
          border-color: $header-color;
          &:hover {
            border-color: $nav-color;
          }
          &:focus {
            box-shadow: 0 7px 30px -10px $dark-box-shadow;
            border-color: $nav-color;
          }
        }
        .card {
          background: $dark-secondary;
          label {
            color: $primary-color;
          }
        }
        .submit {
          .p-button {
            background-color: $primary-color;
            color: $home-color;
            &-raised:focus {
              box-shadow: 0 7px 30px -10px $dark-box-shadow;
            }
          }
        }
      }
    }
  }

  // .login {
  //   .navBar {
  //     background: $dark-secondary;
  //     .list {
  //       .item {
  //         color: $header-color;
  //         &:hover {
  //           background-color: $hover-color;
  //         }
  //       }
  //     }
  //   }
  //   .loginContainer {
  //     background-color: $dark-secondary;
  //     box-shadow: 2px 4px 10px 1px $dark-box-shadow;
  //     .title {
  //       color: $header-color;
  //     }
  //     form {
  //       input {
  //         background-color: $dark-secondary;
  //         color: $dark-font-color;
  //         border-color: $header-color;
  //         &:hover {
  //           border-color: $nav-color;
  //         }
  //         &:focus {
  //           box-shadow: 0 7px 30px -10px $dark-box-shadow;
  //           border-color: $nav-color;
  //         }
  //       }
  //       .card {
  //         background: $dark-secondary;
  //         label {
  //           color: $primary-color;
  //         }
  //       }
  //       .submit {
  //         .p-button {
  //           background-color: $primary-color;
  //           color: $home-color;
  //           &-raised:focus {
  //             box-shadow: 0 7px 30px -10px $dark-box-shadow;
  //           }
  //         }
  //       }
  //     }
  //   }
  // }

  .homeContainer {
    background-color: #212529;
  }

  .list {
    .listContainer {
      .p-sidebar-left {
        .p-sidebar-content {
          background-color: $dark-secondary;
        }
        .header {
          div {
            color: $header-color;
          }
          i {
            color: $header-color;
          }
        }
        .title {
          color: $header-color;
          border-bottom: 1px solid $header-color;
        }
        .list {
          .item {
            color: $dark-font-color;
            &:hover {
              background-color: $hover-color;
            }
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.195);
            background-color: $dark-secondary;
          }
        }
      }
    }
  }
  // .listContainer {
  //   background-color: $dark-secondary;
  //   box-shadow: 2px 4px 10px 1px $dark-box-shadow;
  // }

  .chart {
    box-shadow: 2px 4px 10px 1px $dark-box-shadow;
    background-color: $dark-secondary;
    .chartGrid {
      stroke: rgba(228, 228, 228, 0.219);
    }
  }

  .navbar {
    color: $dark-font-color;
    border-color: $hover-color;
    background-color: $dark-secondary;
    .item {
      color: $dark-font-color;
    }
    .search {
      .p-inputtext {
        border-color: $dark-font-color;
        &:focus {
          box-shadow: 2px 4px 10px 1px $dark-box-shadow;
        }
      }
    }
  }

  .sidebar {
    background-color: $dark-secondary;
    border-color: $dark-font-color;
    border-left: 0.5px solid $dark-box-shadow;

    .top {
      .logo {
        color: $header-color;
      }
    }
    hr {
      border-color: $hover-color;
    }

    ul {
      .header {
        &:hover {
          background-color: $hover-color;
        }
        .title {
          color: $header-color;
        }
      }

      .visited {
        background-color: $hover-color;
      }

      li {
        &:hover {
          background-color: $hover-color;
        }
        span {
          color: $dark-font-color;
        }
        i {
          color: $dark-font-color;
        }
      }
    }

    .p-confirm-popup {
      border: solid 1px $hover-color;
      .p-confirm-popup-icon {
        color: crimson;
      }
      background-color: $dark-secondary;
      .p-confirm-popup-message {
        color: $dark-font-color;
      }
      .p-confirm-popup-footer {
        .p-button-danger {
          .p-button-label {
            color: $home-color;
          }
          background: crimson;
        }
        .p-button-text {
          background: $dark-box-shadow;
          .p-button-label {
            color: $dark-font-color;
          }
        }
      }
    }
  }

  .widget {
    background-color: $dark-secondary;
    box-shadow: 2px 4px 10px 1px $dark-box-shadow;
  }

  .table {
    .p-datatable-thead > tr > th,
    .p-datatable-tbody > tr {
      background-color: $dark-secondary;
    }
    .p-datatable-tbody > tr > td,
    .p-datatable-thead > tr > th {
      color: $dark-font-color;
    }
    .p-column-title {
      color: $dark-font-color;
    }
  }

  .datatable {
    .header,
    .p-datatable-header {
      background: $dark-secondary;
    }
    .p-datatable-thead > tr > th,
    .p-datatable-tbody > tr {
      background-color: $dark-secondary;
    }
    .p-datatable-tbody > tr > td,
    .p-datatable-thead > tr > th {
      color: $dark-font-color;
    }
  }

  .featured {
    background-color: $dark-secondary;
    box-shadow: 2px 4px 10px 1px $dark-box-shadow;
    .bottom {
      .title {
        color: $dark-font-color;
      }
      .desc {
        color: $dark-font-color;
      }

      .summary {
        .item {
          .itemTitle {
            color: $primary-color;
          }
        }
      }
    }
  }

  .single {
    .singleContainer {
      .top {
        .left {
          .item {
            .details {
              .itemTitle {
                color: $dark-font-color;
              }
            }
          }
        }
      }
    }
  }

  .p-dialog {
    .p-dialog-header {
      background-color: $dark-secondary;
      color: $dark-font-color;
    }
    .p-dialog-content {
      background-color: $dark-secondary;
      color: $dark-font-color;
    }
    input {
      color: $dark-font-color;
      &:hover {
        border-color: $primary-color;
      }
      &:focus {
        box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
      }
    }
  }

  .categories {
    .treetable {
      .p-treetable {
        .parent {
          background-color: #212529;
          color: $dark-font-color;
        }
        span.p-column-title {
          color: $primary-color;
        }
        .p-treetable-thead > tr > th {
          background-color: $dark-secondary;
          text-align: center;
        }
        .p-treetable-tbody > tr > td:not(.parent) {
          background-color: $dark-secondary;
          color: $dark-font-color;
          text-align: right;
        }

        .p-treetable-tbody > tr.p-highlight,
        .p-treetable-tbody > tr.p-highlight .p-treetable-toggler {
          color: $dark-font-color;
        }
      }
    }
  }

  .profileContent {
    .profile-card {
      box-shadow: 0px 8px 60px -10px $dark-box-shadow;
      background: $dark-secondary;

      &__name {
        color: $primary-color;
      }

      &__txt {
        color: $dark-font-color;
      }

      &-loc {
        color: $header-color;
      }
    }
  }

  .suggestions-datatable,
  .complaints-datatable {
    .suggestions,
    .complaints {
      .suggestion,
      .complaint {
        box-shadow: 2px 4px 10px 1px $dark-box-shadow;
        background-color: $dark-secondary;

        &:hover {
          cursor: pointer;
          box-shadow: 4px 6px 12px 2px $dark-box-shadow;
        }

        .title {
          color: $header-color;
        }

        .description {
          color: $dark-font-color;
        }
        .arabic {
          text-align: right;
        }
        .english {
          text-align: left;
        }
      }
    }
    .action {
      .add-suggestion,
      .add-complaint {
        box-shadow: 2px 4px 10px 1px $dark-box-shadow;
        background-color: $dark-secondary;

        &:hover {
          cursor: pointer;
          box-shadow: 4px 6px 12px 2px$dark-box-shadow;
        }
      }
    }
  }

  .p-paginator {
    background-color: $dark-secondary;
  }
  .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background: $dark-box-shadow;
    color: $dark-font-color;
  }
  .p-fileupload {
    .p-fileupload-buttonbar {
      background-color: #212529;
    }
    .p-fileupload-content {
      background-color: #212529;
      color: $dark-font-color;
    }
  }

  .purchase-orders {
    .selection-container {
      .selection {
        box-shadow: 2px 4px 10px 1px $dark-box-shadow;
        background-color: $dark-secondary;
      }
    }
  }

  .p-dropdown {
    background-color: $dark-secondary;
    .p-dropdown-label {
      color: $dark-font-color;
    }
    .p-dropdown-items-wrapper {
      background-color: $dark-secondary;
      .p-dropdown-items {
        .p-dropdown-item {
          &.p-highlight {
            background: $dark-box-shadow;
          }
          color: $dark-font-color;
          &:hover {
            background-color: $hover-color;
            color: $dark-font-color;
          }
        }
      }
    }
  }
  input {
    background-color: transparent;
    color: $dark-secondary;
  }
}
