@import "./vars";
.datatable {
  // transform: scale(0.96);
  // .p-datatable-loading-icon {
  //   margin-top: 150px; 
  // }
  .header {
    display: flex;
    justify-content: space-between;
    .title {
      font-weight: 900;
      padding: 10px;
      font-size: 20px;
      color: $header-color;
    }
    .p-button {
      color: $primary-color;
      &.p-button-text:focus {
        box-shadow: inset 0 -3em 3em #eee;
      }
    }
  }
  margin: 30px;
  .product-image {
    width: 100px;
  }

  .p-column-header-content {
    .p-column-title {
      color: $primary-color;
    }
  }
  .p-datatable .p-sortable-column .p-sortable-column-icon {
    margin-right: 10px;
    color: $primary-color;
  }

  .p-confirm-popup {
    .p-confirm-popup-icon {
      margin: 10px;
    }
    background-color: $nav-color;
    .p-confirm-popup-message {
      color: $primary-color;
    }
    .p-confirm-popup-footer {
      text-align: center;

      .p-button {
        margin: 5px;
      }
      .p-button-danger {
        .p-button-label {
          margin: 0;
          color: $home-color;
        }
        background: crimson;
      }
      .p-button-text {
        background-color: $home-color;
        .p-button-label {
          margin: 0;
          color: $primary-color;
        }
      }
    }
  }
}
