@import "../../style/vars";
.purchase-orders {
  .selection-container {
    display: flex;
    justify-content: center;
    .selection {
      display: flex;
      justify-content: space-between;
      margin: 20px;
      padding: 15px;
      box-shadow: 2px 4px 10px 1px $dark-font-color;
      border-radius: 10px;
      background-color: $body-color;
      width: 50%;
      h6 {
        margin: 10px;
        font-weight: bold;
        color: $header-color;
      }
    }
  }
}
