@import "./style/vars";
@import url(https://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: auto;
  font-family: "Droid Arabic Naskh", Tahoma, Geneva, Verdana, sans-serif;
  transition: background 0.2s;
}
html {
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0, 0, 0, 0);
}
html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $dark-font-color;
}
::selection {
  color: #eee;
  background: #86898d;
}
body {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  background-color: $home-color;
}

.p-dialog {
  min-width: max-content;
  min-height: max-content;
  input {
    height: 40px;
    font-size: 18px;
    &:hover {
      border-color: $primary-color;
    }
    &:focus {
      box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
    }
  }
  .arabic {
    direction: rtl;
    text-align: right;
  }
  .english {
    direction: ltr;
    text-align: left;
  }
  .actions {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    .p-button {
      direction: ltr;
    }
  }
  .p-fileupload-choose {
    gap: 10px;
  }
}
.p-dialog-maximized {
  .leaflet-container {
    width: 90vw;
    height: 40vw;
  }
}

.leaflet-container {
  width: 80vw;
  height: 40vw;
}

.p-paginator {
  direction: ltr;
}
