@import "../../../style/vars";
.navbar {
  border-bottom: 0.5px solid rgb(231, 228, 228);
  display: flex;
  align-items: center;
  font-size: 14px;
  color: $primary-color;
  background-color: $nav-color;

  .wrapper {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .search {
      i {
        cursor: pointer;
      }
      .p-inputtext {
        height: 40px;
        border-color: $primary-color;
        &:focus {
          box-shadow: 2px 4px 10px 1px $dark-font-color;
        }
      }
    }

    .items {
      display: flex;
      align-items: center;
      .item {
        color: $primary-color;
        margin-right: 20px;
        position: relative;
        i {
          font-size: 18px;
        }
        .icon {
          font-size: 20px;
        }

        .avatar {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }

        .counter {
          width: 15px;
          height: 15px;
          background-color: red;
          border-radius: 50%;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 10px;
          font-weight: bold;
          position: absolute;
          top: -5px;
          right: -5px;
        }
        transition: all 0.2s;
        &:hover {
          transition: all 0.2s;
          transform: scale(1.3);
          cursor: pointer;
        }
      }
    }
  }
}
